<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd" >
<mapper namespace="com.police.testing.dao.SysLoginLogMapper" >
  <resultMap id="BaseResultMap" type="com.police.testing.pojo.SysLoginLog" >
    <id column="auto_id" property="autoId" jdbcType="INTEGER" />
    <result column="user_mail" property="userMail" jdbcType="VARCHAR" />
    <result column="user_name" property="userName" jdbcType="VARCHAR" />
    <result column="department_name" property="departmentName" jdbcType="VARCHAR" />
    <result column="department_id" property="departmentId" jdbcType="VARCHAR" />
    <result column="organization_id" property="organizationId" jdbcType="VARCHAR" />
    <result column="organization_name" property="organizationName" jdbcType="VARCHAR" />
    <result column="login_time" property="loginTime" jdbcType="TIMESTAMP" />
    <result column="user_status" property="userStatus" jdbcType="VARCHAR" />
  </resultMap>
  <sql id="Base_Column_List" >
    auto_id, user_mail, user_name, department_name, department_id, organization_id, organization_name, 
    login_time, user_status
  </sql>
  <select id="selectByPrimaryKey" resultMap="BaseResultMap" parameterType="java.lang.Integer" >
    select 
    <include refid="Base_Column_List" />
    from sys_login_log
    where auto_id = #{autoId,jdbcType=INTEGER}
  </select>
  
  <select id="selectDistDepartmentName" resultType="java.lang.String" parameterType="java.lang.String">
  	select 
  	DISTINCT(department_name) as departmentName
    from sys_login_log
    where 1=1
    <if test="beginDate != null and beginDate != '' and endDate != null and endDate != ''">
    	and login_time between #{beginDate,jdbcType=VARCHAR} and #{endDate,jdbcType=VARCHAR}
    </if>
    and user_status = '1'
    <if test="offset != null and limit != null">
     limit ${offset},${limit}
    </if>
  </select>
  
  <select id="selectByDepartmentName" resultMap="BaseResultMap" parameterType="java.lang.String">
  	select 
    <include refid="Base_Column_List" />
    from sys_login_log
    where 1=1 
    <if test="beginDate != null and beginDate != '' and endDate != null and endDate != ''">
    	and login_time between #{beginDate,jdbcType=VARCHAR} and #{endDate,jdbcType=VARCHAR}
    </if>
    and department_name = #{departmentName,jdbcType=VARCHAR}
    and user_status = '1'
  </select>
  <delete id="deleteByPrimaryKey" parameterType="java.lang.Integer" >
    delete from sys_login_log
    where auto_id = #{autoId,jdbcType=INTEGER}
  </delete>
  <insert id="insert" parameterType="com.police.testing.pojo.SysLoginLog" >
    insert into sys_login_log (auto_id, user_mail, user_name, 
      department_name, department_id, organization_id, 
      organization_name, login_time, user_status
      )
    values (#{autoId,jdbcType=INTEGER}, #{userMail,jdbcType=VARCHAR}, #{userName,jdbcType=VARCHAR}, 
      #{departmentName,jdbcType=VARCHAR}, #{departmentId,jdbcType=VARCHAR}, #{organizationId,jdbcType=VARCHAR}, 
      #{organizationName,jdbcType=VARCHAR}, #{loginTime,jdbcType=TIMESTAMP}, #{userStatus,jdbcType=VARCHAR}
      )
  </insert>
  <insert id="insertSelective" parameterType="com.police.testing.pojo.SysLoginLog" >
    insert into sys_login_log
    <trim prefix="(" suffix=")" suffixOverrides="," >
      <if test="autoId != null" >
        auto_id,
      </if>
      <if test="userMail != null" >
        user_mail,
      </if>
      <if test="userName != null" >
        user_name,
      </if>
      <if test="departmentName != null" >
        department_name,
      </if>
      <if test="departmentId != null" >
        department_id,
      </if>
      <if test="organizationId != null" >
        organization_id,
      </if>
      <if test="organizationName != null" >
        organization_name,
      </if>
      <if test="loginTime != null" >
        login_time,
      </if>
      <if test="userStatus != null" >
        user_status,
      </if>
    </trim>
    <trim prefix="values (" suffix=")" suffixOverrides="," >
      <if test="autoId != null" >
        #{autoId,jdbcType=INTEGER},
      </if>
      <if test="userMail != null" >
        #{userMail,jdbcType=VARCHAR},
      </if>
      <if test="userName != null" >
        #{userName,jdbcType=VARCHAR},
      </if>
      <if test="departmentName != null" >
        #{departmentName,jdbcType=VARCHAR},
      </if>
      <if test="departmentId != null" >
        #{departmentId,jdbcType=VARCHAR},
      </if>
      <if test="organizationId != null" >
        #{organizationId,jdbcType=VARCHAR},
      </if>
      <if test="organizationName != null" >
        #{organizationName,jdbcType=VARCHAR},
      </if>
      <if test="loginTime != null" >
        #{loginTime,jdbcType=TIMESTAMP},
      </if>
      <if test="userStatus != null" >
        #{userStatus,jdbcType=VARCHAR},
      </if>
    </trim>
  </insert>
  <update id="updateByPrimaryKeySelective" parameterType="com.police.testing.pojo.SysLoginLog" >
    update sys_login_log
    <set >
      <if test="userMail != null" >
        user_mail = #{userMail,jdbcType=VARCHAR},
      </if>
      <if test="userName != null" >
        user_name = #{userName,jdbcType=VARCHAR},
      </if>
      <if test="departmentName != null" >
        department_name = #{departmentName,jdbcType=VARCHAR},
      </if>
      <if test="departmentId != null" >
        department_id = #{departmentId,jdbcType=VARCHAR},
      </if>
      <if test="organizationId != null" >
        organization_id = #{organizationId,jdbcType=VARCHAR},
      </if>
      <if test="organizationName != null" >
        organization_name = #{organizationName,jdbcType=VARCHAR},
      </if>
      <if test="loginTime != null" >
        login_time = #{loginTime,jdbcType=TIMESTAMP},
      </if>
      <if test="userStatus != null" >
        user_status = #{userStatus,jdbcType=VARCHAR},
      </if>
    </set>
    where auto_id = #{autoId,jdbcType=INTEGER}
  </update>
  <update id="updateByPrimaryKey" parameterType="com.police.testing.pojo.SysLoginLog" >
    update sys_login_log
    set user_mail = #{userMail,jdbcType=VARCHAR},
      user_name = #{userName,jdbcType=VARCHAR},
      department_name = #{departmentName,jdbcType=VARCHAR},
      department_id = #{departmentId,jdbcType=VARCHAR},
      organization_id = #{organizationId,jdbcType=VARCHAR},
      organization_name = #{organizationName,jdbcType=VARCHAR},
      login_time = #{loginTime,jdbcType=TIMESTAMP},
      user_status = #{userStatus,jdbcType=VARCHAR}
    where auto_id = #{autoId,jdbcType=INTEGER}
  </update>
</mapper>