<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd" >
<mapper namespace="com.police.testing.dao.TestQuestionMapper" >
  <resultMap id="BaseResultMap" type="com.police.testing.pojo.TestQuestion" >
    <id column="test_questions_id" property="testQuestionsId" jdbcType="VARCHAR" />
    <result column="correct_answer" property="correctAnswer" jdbcType="VARCHAR" />
    <result column="test_question_type" property="testQuestionType" jdbcType="VARCHAR" />
    <result column="creator_id" property="creatorId" jdbcType="VARCHAR" />
    <result column="creator_name" property="creatorName" jdbcType="VARCHAR" />
    <result column="create_date" property="createDate" jdbcType="TIMESTAMP" />
    <result column="update_date" property="updateDate" jdbcType="TIMESTAMP" />
    <result column="enable" property="enable" jdbcType="VARCHAR" />
  </resultMap>
  <resultMap id="ResultMapWithBLOBs" type="com.police.testing.pojo.TestQuestionWithBLOBs" extends="BaseResultMap" >
    <result column="test_questions_name" property="testQuestionsName" jdbcType="LONGVARCHAR" />
    <result column="test_question_selects" property="testQuestionSelects" jdbcType="LONGVARCHAR" />
  </resultMap>
  <sql id="Base_Column_List" >
    test_questions_id, correct_answer, test_question_type, creator_id, creator_name, 
    create_date, update_date, enable
  </sql>
  <sql id="Blob_Column_List" >
    test_questions_name, test_question_selects
  </sql>
  <select id="selectByPrimaryKey" resultMap="ResultMapWithBLOBs" parameterType="java.lang.String" >
    select 
    <include refid="Base_Column_List" />
    ,
    <include refid="Blob_Column_List" />
    from test_question
    where test_questions_id = #{testQuestionsId,jdbcType=VARCHAR}
  </select>
  <delete id="deleteByPrimaryKey" parameterType="java.lang.String" >
    delete from test_question
    where test_questions_id = #{testQuestionsId,jdbcType=VARCHAR}
  </delete>
  <insert id="insert" parameterType="com.police.testing.pojo.TestQuestionWithBLOBs" >
    insert into test_question (test_questions_id, correct_answer, test_question_type, 
      creator_id, creator_name, create_date, 
      update_date, enable, test_questions_name, 
      test_question_selects)
    values (#{testQuestionsId,jdbcType=VARCHAR}, #{correctAnswer,jdbcType=VARCHAR}, #{testQuestionType,jdbcType=VARCHAR}, 
      #{creatorId,jdbcType=VARCHAR}, #{creatorName,jdbcType=VARCHAR}, #{createDate,jdbcType=TIMESTAMP}, 
      #{updateDate,jdbcType=TIMESTAMP}, #{enable,jdbcType=VARCHAR}, #{testQuestionsName,jdbcType=LONGVARCHAR}, 
      #{testQuestionSelects,jdbcType=LONGVARCHAR})
  </insert>
  <insert id="insertSelective" parameterType="com.police.testing.pojo.TestQuestionWithBLOBs" >
    insert into test_question
    <trim prefix="(" suffix=")" suffixOverrides="," >
      <if test="testQuestionsId != null" >
        test_questions_id,
      </if>
      <if test="correctAnswer != null" >
        correct_answer,
      </if>
      <if test="testQuestionType != null" >
        test_question_type,
      </if>
      <if test="creatorId != null" >
        creator_id,
      </if>
      <if test="creatorName != null" >
        creator_name,
      </if>
      <if test="createDate != null" >
        create_date,
      </if>
      <if test="updateDate != null" >
        update_date,
      </if>
      <if test="enable != null" >
        enable,
      </if>
      <if test="testQuestionsName != null" >
        test_questions_name,
      </if>
      <if test="testQuestionSelects != null" >
        test_question_selects,
      </if>
    </trim>
    <trim prefix="values (" suffix=")" suffixOverrides="," >
      <if test="testQuestionsId != null" >
        #{testQuestionsId,jdbcType=VARCHAR},
      </if>
      <if test="correctAnswer != null" >
        #{correctAnswer,jdbcType=VARCHAR},
      </if>
      <if test="testQuestionType != null" >
        #{testQuestionType,jdbcType=VARCHAR},
      </if>
      <if test="creatorId != null" >
        #{creatorId,jdbcType=VARCHAR},
      </if>
      <if test="creatorName != null" >
        #{creatorName,jdbcType=VARCHAR},
      </if>
      <if test="createDate != null" >
        #{createDate,jdbcType=TIMESTAMP},
      </if>
      <if test="updateDate != null" >
        #{updateDate,jdbcType=TIMESTAMP},
      </if>
      <if test="enable != null" >
        #{enable,jdbcType=VARCHAR},
      </if>
      <if test="testQuestionsName != null" >
        #{testQuestionsName,jdbcType=LONGVARCHAR},
      </if>
      <if test="testQuestionSelects != null" >
        #{testQuestionSelects,jdbcType=LONGVARCHAR},
      </if>
    </trim>
  </insert>
  <update id="updateByPrimaryKeySelective" parameterType="com.police.testing.pojo.TestQuestionWithBLOBs" >
    update test_question
    <set >
      <if test="correctAnswer != null" >
        correct_answer = #{correctAnswer,jdbcType=VARCHAR},
      </if>
      <if test="testQuestionType != null" >
        test_question_type = #{testQuestionType,jdbcType=VARCHAR},
      </if>
      <if test="creatorId != null" >
        creator_id = #{creatorId,jdbcType=VARCHAR},
      </if>
      <if test="creatorName != null" >
        creator_name = #{creatorName,jdbcType=VARCHAR},
      </if>
      <if test="createDate != null" >
        create_date = #{createDate,jdbcType=TIMESTAMP},
      </if>
      <if test="updateDate != null" >
        update_date = #{updateDate,jdbcType=TIMESTAMP},
      </if>
      <if test="enable != null" >
        enable = #{enable,jdbcType=VARCHAR},
      </if>
      <if test="testQuestionsName != null" >
        test_questions_name = #{testQuestionsName,jdbcType=LONGVARCHAR},
      </if>
      <if test="testQuestionSelects != null" >
        test_question_selects = #{testQuestionSelects,jdbcType=LONGVARCHAR},
      </if>
    </set>
    where test_questions_id = #{testQuestionsId,jdbcType=VARCHAR}
  </update>
  <update id="updateByPrimaryKeyWithBLOBs" parameterType="com.police.testing.pojo.TestQuestionWithBLOBs" >
    update test_question
    set correct_answer = #{correctAnswer,jdbcType=VARCHAR},
      test_question_type = #{testQuestionType,jdbcType=VARCHAR},
      creator_id = #{creatorId,jdbcType=VARCHAR},
      creator_name = #{creatorName,jdbcType=VARCHAR},
      create_date = #{createDate,jdbcType=TIMESTAMP},
      update_date = #{updateDate,jdbcType=TIMESTAMP},
      enable = #{enable,jdbcType=VARCHAR},
      test_questions_name = #{testQuestionsName,jdbcType=LONGVARCHAR},
      test_question_selects = #{testQuestionSelects,jdbcType=LONGVARCHAR}
    where test_questions_id = #{testQuestionsId,jdbcType=VARCHAR}
  </update>
  <update id="updateByPrimaryKey" parameterType="com.police.testing.pojo.TestQuestion" >
    update test_question
    set correct_answer = #{correctAnswer,jdbcType=VARCHAR},
      test_question_type = #{testQuestionType,jdbcType=VARCHAR},
      creator_id = #{creatorId,jdbcType=VARCHAR},
      creator_name = #{creatorName,jdbcType=VARCHAR},
      create_date = #{createDate,jdbcType=TIMESTAMP},
      update_date = #{updateDate,jdbcType=TIMESTAMP},
      enable = #{enable,jdbcType=VARCHAR}
    where test_questions_id = #{testQuestionsId,jdbcType=VARCHAR}
  </update>
</mapper>