body {
	min-height: 100%;
}
a[disabled], a.disabled {
	text-decoration: none;
	color: #aaa;
}
span.form-control-feedback {
	line-height: 34px;
	right: -4px;
}
.weak {
	color: #999;
}
.paint strong {
	color: orange;
}
.judge.fa {
	display: block;
}
.judge.fa.right:after {
	content: "    \f00c";
	color: green;
}
.judge.fa.wrong:after {
	content: "    \f00d";
	color: red;
}

.hover:hover {
	opacity: 0.8;
}

.masthead {
    overflow: hidden;
    height: 250px;
	min-width: 1024px;
    position: relative;
    padding: 60px 0;
    color: #fff;
    text-align: center;
    /* text-shadow: 0 1px 3px rgba(0,0,0,.4),0 0 30px rgba(0,0,0,.075); */
    text-shadow: 0 1px 5px rgba(0,0,0,.9),0 0 30px rgba(0,0,0,.5);
    background: #5bc0de;
    background: -moz-linear-gradient(45deg,#5bc0de 0,#5cb85c 100%);
    background: -webkit-gradient(linear,left bottom,right top,color-stop(0%,#5bc0de),color-stop(100%,#5cb85c));
    background: -webkit-linear-gradient(45deg,#5bc0de 0,#5cb85c 100%);
    background: -o-linear-gradient(45deg,#5bc0de 0,#5cb85c 100%);
    background: -ms-linear-gradient(45deg,#5bc0de 0,#5cb85c 100%);
    background: linear-gradient(45deg,#5bc0de 0,#5cb85c 100%);
    filter: progid:DXImageTransform.Microsoft.gradient(startColorstr='#5bc0de', endColorstr='#5cb85c', GradientType=1);
    /* -webkit-box-shadow: inset 0 3px 7px rgba(0,0,0,.2),inset 0 -3px 7px rgba(0,0,0,.2);
    -moz-box-shadow: inset 0 3px 7px rgba(0,0,0,.2),inset 0 -3px 7px rgba(0,0,0,.2);
    box-shadow: inset 0 3px 7px rgba(0,0,0,.2),inset 0 -3px 7px rgba(0,0,0,.2); */

    background: url(../img/BackGround.png) no-repeat;
    background-size: 100%;
    background-position: 50% 60%;
}
.extra-link {
	position: absolute;
	top: 0;
	right: 100px;
	width: 100px;
	height: 24px;
	background: rgba(0, 0, 0, 0.2);
}
.extra-link a {
	color: #fff;
}

.breadcrumb {
	margin-bottom: 0;
}

.mastbody {
	min-height: 544px;
	min-width: 1024px;
	background: #f5f5f5;
	padding-bottom: 15px;
}

.panel-white {
	border-color: #999;
}
.panel-white .panel-heading {
	border-bottom-color: #777;
}
.left-area {
	width: 300px;
	float: left;
	margin-left: 15px;
}
.middle-area {
	width: 250px;
	float: left;
	margin-left: 15px;
}
.right-area {
	width: calc(100% - 345px);
	float: left;
	margin-left: 15px;
}
.middle-area + .right-area {
	width: calc(100% - 610px);
}
.panel-static-height {
	height: 350px;
}

ul.no-style {
	list-style-type: none;
	-webkit-padding-start: 0px;
}
.fix-text-330 {
	display: block;
	white-space: nowrap;
	overflow-x: hidden;
	text-overflow: ellipsis;
	width: 330px;
}
.fix-text a {
	white-space: nowrap;
	overflow-x: hidden;
	text-overflow: ellipsis;
	width: 280px;
	display: block;
}

.avatar {
	width: 70px;
}
.police-name:before {
	content: "姓名：";
}
.police-id:before {
	content: "警号：";
}


.func-item {
	border: 1px dotted #999;
	border-radius: 5px;
	height: 85px;
	width: 85px;
	float: left;
	margin-left: 10px;
	margin-bottom: 10px;
}
.func-item:hover {
	background: #eee;
}
.func-item:active {
	background: #ddd;
}
.func-item.func-item-2x {
	width: 180px;
}
.func-item.func-item-2x:hover {
	background: #fff;
}
.func-item .info {
	margin-top: 20px;
	line-height: 22px;
}
.no-border {
	border-color: transparent;
}
.func-item .icon {
	margin-top: 15px;
	width: 100%;
	text-align: center;
}
.func-item .icon img {
	width: 27px;
}
.func-item .desciption{
	margin-top: 10px;
	height: 27px;
	text-align: center;
}

.ps {
	padding: 30px;
}
.ps p {
	text-indent: 1em;
}

.classes {
	padding: 0px 25px;
    display: inline-block;
    text-align: center;
    width: 1000px;
}
.class-item {
	border: 1px solid #999;
	border-radius: 5px;
	height: 200px;
	width: 170px;
	float: left;
	margin-left: 10px;
	margin-right: 10px;
	margin-bottom: 20px;
	background: #fff;
    display: inline-block;
}
.class-item .icon {
	position: relative;
	top: 30px;
	left: auto;
	right: auto;
	font-size: 5em;
}
.class-item .title {
	position: relative;
	top: 36px;
	left: auto;
	right: auto;
}
.class-item button {
	position: relative;
	top: 36px;
	left: auto;
	right: auto;

}

.wrong-list table tbody tr :first-child, .wrong-list table tbody tr :last-child {
	text-align: center;
}

.modal-dialog {
	width: 700px;
	height: 300px;
	position: fixed;
	top: calc(50% - 150px);
	left: calc(50% - 350px);
}
.modal-footer {
	text-align: center;
}


.exam-header-item + .exam-header-item {
	border-left: 1px solid #ddd;
}
.exam-area {
	padding: 0 40px;
}

.q-select-items {
	padding-left: 20px;
}
.q-select-answer {
	padding-left: 40px;
}

.icon-description {
	margin-top: 3px;
}