<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd" >
<mapper namespace="com.police.testing.dao.SysOrganizationMapper" >
  <resultMap id="BaseResultMap" type="com.police.testing.pojo.SysOrganization" >
    <id column="auto_id" property="autoId" jdbcType="INTEGER" />
    <result column="organization_id" property="organizationId" jdbcType="VARCHAR" />
    <result column="organization_name" property="organizationName" jdbcType="VARCHAR" />
    <result column="organization_address" property="organizationAddress" jdbcType="VARCHAR" />
    <result column="status" property="status" jdbcType="VARCHAR" />
  </resultMap>
  <sql id="Base_Column_List" >
    auto_id, organization_id, organization_name, organization_address, status
  </sql>
  <select id="selectByPrimaryKey" resultMap="BaseResultMap" parameterType="java.lang.Integer" >
    select 
    <include refid="Base_Column_List" />
    from sys_organization
    where auto_id = #{autoId,jdbcType=INTEGER}
  </select>
  <delete id="deleteByPrimaryKey" parameterType="java.lang.Integer" >
    delete from sys_organization
    where auto_id = #{autoId,jdbcType=INTEGER}
  </delete>
  <insert id="insert" parameterType="com.police.testing.pojo.SysOrganization" >
    insert into sys_organization (auto_id, organization_id, organization_name, 
      organization_address, status)
    values (#{autoId,jdbcType=INTEGER}, #{organizationId,jdbcType=VARCHAR}, #{organizationName,jdbcType=VARCHAR}, 
      #{organizationAddress,jdbcType=VARCHAR}, #{status,jdbcType=VARCHAR})
  </insert>
  <insert id="insertSelective" parameterType="com.police.testing.pojo.SysOrganization" >
    insert into sys_organization
    <trim prefix="(" suffix=")" suffixOverrides="," >
      <if test="autoId != null" >
        auto_id,
      </if>
      <if test="organizationId != null" >
        organization_id,
      </if>
      <if test="organizationName != null" >
        organization_name,
      </if>
      <if test="organizationAddress != null" >
        organization_address,
      </if>
      <if test="status != null" >
        status,
      </if>
    </trim>
    <trim prefix="values (" suffix=")" suffixOverrides="," >
      <if test="autoId != null" >
        #{autoId,jdbcType=INTEGER},
      </if>
      <if test="organizationId != null" >
        #{organizationId,jdbcType=VARCHAR},
      </if>
      <if test="organizationName != null" >
        #{organizationName,jdbcType=VARCHAR},
      </if>
      <if test="organizationAddress != null" >
        #{organizationAddress,jdbcType=VARCHAR},
      </if>
      <if test="status != null" >
        #{status,jdbcType=VARCHAR},
      </if>
    </trim>
  </insert>
  <update id="updateByPrimaryKeySelective" parameterType="com.police.testing.pojo.SysOrganization" >
    update sys_organization
    <set >
      <if test="organizationId != null" >
        organization_id = #{organizationId,jdbcType=VARCHAR},
      </if>
      <if test="organizationName != null" >
        organization_name = #{organizationName,jdbcType=VARCHAR},
      </if>
      <if test="organizationAddress != null" >
        organization_address = #{organizationAddress,jdbcType=VARCHAR},
      </if>
      <if test="status != null" >
        status = #{status,jdbcType=VARCHAR},
      </if>
    </set>
    where auto_id = #{autoId,jdbcType=INTEGER}
  </update>
  <update id="updateByPrimaryKey" parameterType="com.police.testing.pojo.SysOrganization" >
    update sys_organization
    set organization_id = #{organizationId,jdbcType=VARCHAR},
      organization_name = #{organizationName,jdbcType=VARCHAR},
      organization_address = #{organizationAddress,jdbcType=VARCHAR},
      status = #{status,jdbcType=VARCHAR}
    where auto_id = #{autoId,jdbcType=INTEGER}
  </update>
</mapper>